html, body{
	width: 100%;
	overflow-x:hidden;
	margin: 0; 
/*	background: #fff; 
    background: -webkit-linear-gradient(#fff, #FAFAFA); 
    background: -o-linear-gradient(#fff, #FAFAFA); 
    background: -moz-linear-gradient(#fff, #FAFAFA); 
    background: linear-gradient(#fff, #FAFAFA); */
}

*::-webkit-scrollbar { 
  display: none;
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}



/** SF Regular*/ 
@font-face {
    font-family: "SFNS";
    font-weight: 100;
    src: url("../assets/font/sf-ui-display-ultralight-webfont.woff");
}

/** SF Think*/ 
@font-face {
    font-family: "SFNS";
    font-weight: 200;
    src: url("../assets/font/sf-ui-display-thin-webfont.woff");
}

/** SF Regular*/ 
@font-face {
    font-family: "SFNS";
    font-weight: 300;
    src: url("../assets/font/sf-ui-display-light-webfont.woff");
}

/** SF Regular*/ 
@font-face {
    font-family: "SFNS";
    font-weight: 400;
    src: url("../assets/font/sf-ui-display-regular-webfont.woff");
}

* {
    font-family: 'San Francisco', helvetica;  
}

h1{
	font-weight:200;
	font-size: 56px;
	line-height: 60px;
	padding: 0 10px;
	margin: 0;
	color: #333;
	font-family: 'SFNS','San Francisco';
}

h2{
	font-weight: 100;
	font-size: 32px;
	line-height: 38px;
	padding: 0 10px;
	margin: 0;
	color: #333;
	font-family: 'SFNS','San Francisco';
}

h3{
	font-weight: 100;
	font-size: 24px;
	line-height: 55px;
	padding: 0 10px;
	cursor: pointer;
	color: #0088cc;
	font-family: 'SFNS','San Francisco';
}

h3 a{
	color: #0088cc;
	font-family: 'SFNS','San Francisco';
}

h3 a:hover{
	text-decoration: underline;
}

a{
	color: black;
	text-decoration: none;
}

#mixx24{
	position: relative;
	width: 100%;
    height: auto;
    margin: 280px auto 0;
}

#mixxinfo{
	position: absolute;
	top: -150px;
	text-align: center;
	left: 20%;
	max-width: 450px;
	cursor: default;
}

#mixximg{
	/*position: relative;*/
	width: 100%;
	height: auto;
	margin: 0 auto;

}

.mixxlogo{
	display: inline-block;
	height:  45px;
	padding: 0 10px;
	margin: 0 auto;
}



#companionship{
	position: relative;
	width: 100%;
    height: auto;
    margin: 250px auto 0;

}

#companionshipinfo{
	position: absolute;
	top: -100px;
	text-align: center;
	max-width: 500px;
	right: 10%;
	margin: 0 auto;
	cursor: default;
}


#companionshipimg{
	/*position: relative;*/
	width: 80%;
	height: auto;
	display: block;
	margin: 0 auto;

}

#companionshipimgmobile{
display: none;
}




#wetea{
	position: relative;
	width: 100%;
    height: auto;
    margin: 350px auto 0;

}

#weteainfo{
	position: absolute;
	top: -180px;
	text-align: center;
	right: 0;left: 0;
	margin: 0 auto;
	cursor: default;
}

#weteaimg{
	width: 95%;
	height: auto;
	display: block;
}

#weteaimgmobile{
	display: none;
}

#monsterpho{
	position: relative;
	width: 100%;
    height: auto;
    margin: 350px auto 0;

}

#monsterphoinfo{
	position: absolute;
	top: -180px;
	text-align: center;
	right: 0;left: 0;
	margin: 0 auto;
	cursor: default;
}

#monsterphoimg{
	width: 100%;
	height: auto;
	display: block;
}

#monsterphoimgmobile{
	display: none;
}


#unown{
	position: relative;
	width: 100%;
    height: auto;
    margin: 150px auto 40px;

}

#unowninfo{
	position: absolute;
	top: 15%;
	text-align: center;
	max-width: 500px;
	right: 0;left: 0;
	margin: 0 auto;
	cursor: default;
}


#unownimg{
	/*position: relative;*/
	width: 100%;
	height: auto;
	display: block;
	

}

#unownimgmobile{
display: none;
}


#facebookarchive{
	position: relative;
	width: 85%;
    height: auto;
    margin: 200px auto 0;

}

#facebookarchiveinfo{
	position: absolute;
	top: 50px;
	text-align: center;
	max-width: 500px;
	right: 10%;
	margin: 0 auto;
	cursor: default;
}


#facebookarchiveimg{
	position: relative;
	width: 350px;
	left: 10%;
}

#facebookarchiveimgmobile{
display: none;
}

#facebookarchivevideo{
	margin-top: 200px;
	display: none;
}

.turnoff{
	cursor: pointer;
	margin-left: 5px;
}

@media screen and (max-width: 1190px) {


h1{

	font-size: 40px;
	line-height: 55px;

}

h2{

	font-size: 26px;
	line-height: 30px;

}

h3{

	font-size: 20px;
	line-height: 50px;
}

#facebookarchiveinfo{
	max-width: 400px;
	top: 80px;

}

#companionshipinfo{right: 5%;}

.mixxlogo{
	height:  35px;
}

}


@media screen and (max-width: 950px) {


#mixx24{
	position: relative;
	width: 100%;
    height: auto;
    margin: 30px auto 0;
}

#mixxinfo{
	position: relative;
	top: 50px;
	padding: 0 50px;
	text-align: center;left: 0;right: 0;
	margin: 0 auto;
}

#companionshipinfo{
	position: relative;
	top: 10px;
	padding: 0 50px;
	text-align: center;left: 0;right: 0;
	margin: 0 auto;
}

#companionship{

    margin: 150px auto 0;

}

#unowninfo{
	top: 5%;
}

#facebookarchiveinfo{
	top: 80px;
	right: 5%;
}

#facebookarchiveimg{
	left: 5%;
}

}

@media screen and (max-width: 790px) {
	
	#facebookarchive{
    margin: 300px auto 0;
	}

	#facebookarchiveinfo{
		top: -180px;
		right: 5%;
	}
}

@media screen and (max-width: 1030px) {
#facebookarchive{
	width: 100%;
}
}

@media screen and (max-width: 420px) {
h1{
	font-weight: 300;
	font-size: 32px;
	line-height: 38px;

}

h2{
	font-weight: 200;
	font-size: 20px;
	line-height: 26px;

}

h3{
	font-weight: 200;
	font-size: 16px;
	line-height: 40px;
}

.mixxlogo{

	height:  30px;

}

}



@media screen and (max-width: 550px) {

#mixx24{
	position: relative;
	width: 100%;
    height: auto;
    margin: 10px auto 0;
}

#mixxinfo{
	position: relative;
	top: 30px;
	padding: 0 50px;
	text-align: center;left: 0;
	margin: 0 auto;
}

#mixximg{
	display: block;
	margin: 0 auto;
	width: 180%;
}

#companionship{
	position: relative;
	width: 100%;
    height: auto;
    margin: 100px auto 0;

}

#companionshipinfo{
	position: relative;
	padding: 0 35px;
	top: 0;
	text-align: center;
	right: 0;left: 0;
	margin: 0 auto;
}

#companionshipimg{
	display: none
}

#companionshipimgmobile{
	position: relative;
	display: block;
	width: 90%;
	right: -110px;
	
}

#wetea{
	position: relative;
	width: 100%;
    height: auto;
    margin: 100px auto 0;

}

#weteainfo{
	position: relative;
	padding: 0 35px;
	top: 0;
	text-align: center;
	right: 0;left: 0;
	margin: 0 auto;
}


#weteaimg{
	display: none;
}

#weteaimgmobile{
	display: block;
	width: 100%;
}

#monsterpho{
	position: relative;
	width: 100%;
    height: auto;
    margin: 90px auto 0;

}

#monsterphoinfo{
	position: relative;
	padding: 0 35px;
	top: 0;
	text-align: center;
	right: 0;left: 0;
	margin: 0 auto;
}


#monsterphoimg{
	display: none;
}

#monsterphoimgmobile{
	display: block;
	margin-left:100px;
	height: 450px;
}


#unown{
	position: relative;
	width: 100%;
    height: auto;
    margin: 80px auto 70px;

}

#unowninfo{
	position: relative;
	padding: 0 35px;
	top: 0;
	text-align: center;
	right: 0;left: 0;
	margin: 0 auto;
}

#unownimg{
	display: none
}

#unownimgmobile{
	position: relative;
	display: block;
	width: 100%;	
}

#facebookarchive{
	position: relative;
	width: 100%;
    height: auto;
    margin: 100px auto 0;

}

#facebookarchiveinfo{
	position: relative;
	padding: 0 35px;
	top: 0;
	text-align: center;
	right: 0;left: 0;
	margin: 0 auto;
}

#facebookarchiveimg{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 80%;
	right: 0;left: 0;
}

#facebookarchivevideo{
	margin-top: 100px;

}



/*#companionshipimgmobile{
	position: relative;
	display: block;
	width: 90%;
	right: -110px;
	
}*/

}






