html, body{
	width: 100%;
	overflow-x:hidden;
	margin: 0;
/*	background: #fff;
    background: -webkit-linear-gradient(#fff, #FAFAFA);
    background: -o-linear-gradient(#fff, #FAFAFA);
    background: -moz-linear-gradient(#fff, #FAFAFA);
    background: linear-gradient(#fff, #FAFAFA); */
}

*::-webkit-scrollbar {
  display: none;
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "SFCD";
  font-weight: 200;
  src: url("../../assets/font/sf-compact-display-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "SFCD";
  font-weight: 400;
  src: url("../../assets/font/sf-compact-display-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "SFCD";
  font-weight: 500;
  src: url("../../assets/font/sf-compact-display-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "SFCD";
  font-weight: 600;
  src: url("../../assets/font/sf-compact-display-semibold-webfont.woff");
}

/** Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

/** Bold */
@font-face {
  font-family: "SFCD";
  font-weight: 700;
  src: url("../../assets/font/sf-compact-display-bold-webfont.woff");
}



/** SF Regular*/
@font-face {
    font-family: "SFNS";
    font-weight: 100;
    src: url("../../assets/font/sf-ui-display-ultralight-webfont.woff");
}

/** SF Think*/
@font-face {
    font-family: "SFNS";
    font-weight: 200;
    src: url("../../assets/font/sf-ui-display-thin-webfont.woff");
}

/** SF light*/
@font-face {
    font-family: "SFNS";
    font-weight: 300;
    src: url("../../assets/font/sf-ui-display-light-webfont.woff");
}

/** SF Regular*/
@font-face {
    font-family: "SFNS";
    font-weight: 400;
    src: url("../../assets/font/sf-ui-display-regular-webfont.woff");
}

* {
   font-family: 'SFNS', -apple-system , helvetica;
}

.headpic{
	width: 100%;
}

.headpicm{
	display: none;
	width: 100%;
}

.protitle{
	margin: 45px auto 0;
	text-align: center;
	font-size: 60px;
	font-weight: 700;
/*	letter-spacing: -3px;*/
	color: #1980FC;
}


#research{
	margin: 50px auto;
}


#idea{
	background: #f2f2f2;
	/*border: 1px solid #e4e4e4;*/
	padding: 40px 0;
}

#ux{
	background: #f2f2f2;
	/*border: 1px solid #e4e4e4;*/
	padding: 40px 0;
}

#ui{
	/*background: #f2f2f2;*/
	/*border: 1px solid #e4e4e4;*/
	padding: 40px 0;
}

#appendix{
	background: #f2f2f2;
	/*border: 1px solid #e4e4e4;*/
	padding: 40px 0;
}

.note1{
	text-align: center;
	margin: 0 auto;
	color: #95C1F6;
	font-size: 16px;
	font-weight: 400;
}

.note1 span{
	color: #1980FC;
	font-weight: 500;
}

.tagline{
	text-align: center;
	margin: 0 auto;
	font-size: 32px;
	font-weight: 400;
	color: #424242;
}

.logoimg{
	height: 100px;
}

.personas{
	display: block;
	margin: 40px auto 0;
	width: 750px;
	max-width: 90%;
}

.ecosystem{
	display: block;
	margin: 30px auto 0;
	width: 750px;
	max-width: 90%;
}

.journeymap{
	display: block;
	margin: 20px auto 0;
	width: 850px;
	max-width: 90%;
}

.imgrid{
	text-align: center;
	margin: 0 auto;
	/*max-width: 750px;*/
}


.gallery{
	display: none;
	overflow: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    max-width: 1800px;
    margin: 40px auto 0;

}

.gallery div{
	display: inline-block;
	margin: 0 20px;
}

.grid4{
	display: inline-block;
	left: 0;
	right: 0;
	max-width: 375px;
	width: 375px;
	border: 1px solid black;
	/*height: 375px;*/
	text-align: center;
	border: none;
	margin: 20px 10px;
	/*height: 375px;*/
}

.grid4.annotate{
	text-align: left;

}

.grid4 img{
	/*height: 100%;*/
}

.imgrid tr{
	margin: 20px 0 0 0;

}

.imgingrid{
	display: inline-block;
	max-width: 350px;
	/*width: 350px;*/
	max-height: 410px;
}



th .hilight{
	line-height: 3;
	font-size: 19px;
}

.description{
	max-width: 750px;
	padding: 0 25px;
	font-size: 18px;
	color: #666666;
	font-weight: 400;
	line-height: 1.7;
	max-width: 600px;
	margin: 10px auto 30px;
	text-align: center;
}

.description .hilight{
	font-weight: 600;
}

.description.mapdescription{
	margin: 25px auto 50px;
	font-weight: 300;
	text-align: left;
}

#appendix .description.mapdescription{
	margin: 25px auto 0;
}

.description a{
	color: #1980FC;
	cursor: pointer;
	text-decoration: none;
	font-weight: 400;
}

.description a:hover{
	text-decoration: underline;
}

.parttitle{
	color: #1980FC;
	text-align: center;
	margin: 0 auto;
	font-size: 36px;
	font-weight: 700;
}

.mobileview{
	display: none;
}

.fullview{
}


@media screen and (max-width: 797px) {
.mobileview{
	display: inline;
}

.fullview{
	display: none;
}

.description.mapdescription{
	margin: 20px auto;
}

.gallery{display: block;}
#ui .imgrid{display: none;}
#research .imgrid{display: none;}
#research .imgingrid{max-width: 250px;}
}



@media screen and (max-width: 500px) {

.description{
	font-size: 16px;
}

.tagline{
	font-size: 24px;
}

.grid4{
	width: auto;
}

.grid4.annotate .description.mapdescription{

margin: auto;
}

.headpic{

	display: none;
}

.headpicm{
	display: block;
}

.parttitle{
	font-size: 28px;
}


}

@media screen and (max-width: 374px) {

.imgingrid{
	max-width: 300px;
}

}
