/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */ 
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

* {
    font-family: 'San Francisco', sans-serif;  
}

*::-webkit-scrollbar { 
  display: none;
}

html, body{
	margin: 0;
  height: 100%;
}

video{
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto;
}

#content{
	position: relative;
	overflow-x:hidden; 
  animation: accessin4 3s ease-in-out;
  width: 1000px;
  margin: 0 auto;
}


a{
  text-decoration: none;
  color: black;
}



#mixx{
   margin: 80px auto 80px;
}

#unownsans{
   margin: 80px auto 30px;
}


.item{
  width: 100%;
  margin: 150px auto 80px;
  /*background: yellow;*/
}

.briefsm{
  display: none;
}

.brief{
  width: 191px;
  text-align: center;
  /*vertical-align: middle;*/
  /*padding: 0 50px 0 50px;*/
}
.brief span{
  font-weight: 700;
  text-align: left;
}

.thumbnail{
  width: 620px;
  /*max-height: 310px;*/
  margin: 0 auto;
  cursor: pointer;
}

.detailsm{
  display: none;
}

.detail{
  width: 189px;
  text-align: center;
  /*padding: 0 50px 0 50px;*/
}
.detail span{
  font-weight: 700;
  text-align: left;
}

.detailp{
  display: inline-block;
  margin: 0 5px 0 5px;
}

.briefp{
  text-align: left;
}

.deslink{
  transition:0.3s ease-in-out;
  border-radius: 5px;
}

.deslink:hover{
  /*text-decoration: underline;*/
  transition:0.3s ease-in-out;
  font-weight: 700;
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari */
  transform: scale(1.2);
  /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);*/ 
}

.sharelink:hover{
  transition:0.5s ease-in-out;
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari */
  transform: scale(1.2);
}

.projectsharef .comp{
  height: 11.5px;
}

.projectsharein .comp{
  height: 11.5px;
}

.sharelink{
  transition:0.5s ease-in-out;
}

.unown{
  max-width: 620px;
  height:410px;
  overflow: none;
}

.nonflow{
  overflow: none;
}

/*.projectsharet:hover{
  color:#55acee;
}

.projectsharef:hover{
  color: #3b5998;
}

.projectsharein:hover{
  color:#55acee;
}*/

.deslink:active{
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0);
  color: grey;
  transition:0s;
}

table, td, th {
/*    border: 1px solid black;*/
    border-collapse: collapse;
    margin: 0 auto;
    overflow: hidden;
}

table {
    width: 100%;
}

td{
    /*height: 310px;*/
    /*vertical-align: middle;*/
}

iframe{
  display: block;
  margin: 0 auto;
}

.continue{
  letter-spacing: 0;
  color: grey;
  max-width: 500px;
  margin: 100px auto 100px;
  text-align: center;
  font-weight: 300;
}


.shareit{
  display: none;
}

.shareme:hover .share{
  display: none;
}

.shareme:hover .shareit{
  display: inline;
}

.shareme{cursor: pointer;}

.comp{
  height: 10px;
}

h1{
  font-size: 26pt;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 0 auto;
}

h2{
  font-size: 18pt;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 0 auto;
}

h3{
  font-size: 14pt;
  font-weight: 600;
  margin: 0 auto;
  letter-spacing: 0.6px;
}

h4{
  font-size: 12pt;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin: 0 auto;
}

h6{
  font-size: 10pt;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin: 2px auto 15px;
  color: grey;
}

p{
  font-size: 10pt;
  font-weight: 400;
  margin: 0 auto;
  letter-spacing: 0;
  line-height: 150%;
}

/*mybutttttttttttttttttttttttttttt*/




@media screen and (max-width: 1000px) {

#content{
  width: 100%;
}

.item{
  margin: 50px auto 50px;
}

#mixx{
   margin: 20px auto 50px;
}

#unownsans{
   margin: 50px auto 50px;
}

.cutline{
  width: 90%;
  height: 1px;
  border-bottom: 1px dashed grey;
  margin: 0 auto;
  opacity: 0.5;
}

.brief{
  display: none;
}

.briefsm{
  max-width: 400px;
  width: 80%;
  /*height: 310px;*/
  display: block;
  text-align: center;
  vertical-align: middle;
  /*padding: 0 50px 0 50px;*/
  padding: 0 15px;
  margin: 0px auto 0px auto;
}

.thumbnail{
  width: 100%;
  margin: 0 auto;
}

.detail{
  display: none;
}

.detailsm{
  max-width: 400px;
  width: 80%;
  padding: 0 15px;
  margin: 0px auto 0px auto;
  display: block;
  /*width: 70%;*/
  /*width: 310px;*/
  text-align: center;
  /*padding: 0 50px 0 50px;*/
}


table {
    width: 100%;
}



}


@media screen and (max-width: 1025px) {
}

@media screen and (max-width: 768px) {



}




@media screen and (max-width: 350px) {}





